.input-search {
  .MuiFormControl-root {
    margin: 0;
    width: 300px;
  }
  .MuiOutlinedInput-input {
    padding: 10px;
  }
}
.app-select {
  width: 150px;
  .MuiSelect-select {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
