.container {
  width: 95%;
  background-color: white;
  border: 1px solid rgb(169, 169, 169);
  margin: 20px auto;
  padding: 20px;
}
.modal-h3 {
  width: 90%;
  border-bottom: 1px solid rgb(85, 85, 85);
  padding: 10px;
  margin: 30px 20px;
}
.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}
.button {
  height: 50px;
  margin-top: 20px;
  font-size: 16px;
}

.css-1ygcj2i-MuiTableCell-root {
  width: 120px;
  text-align: right;
}

.app-select {
  margin-right: 10px;
}
.input-text-search {
  width: 250px;
}

.checkboxTypo {
  font-size: 14px;
}
